<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Parkopoly Suite" >
<!-- 	<test verbose="1" name="Login test" annotations="JDK">
		<classes>
			<class name="net.elmosoft.tests.backoffice.login.LoginTest" />
		</classes>
	</test>
	<test verbose="1" name="Incorrect password test" annotations="JDK">
		<classes>
			<class name="net.elmosoft.tests.backoffice.login.LoginWrongPasswordTest" />
		</classes>
	</test> -->

</suite>
